/* NAVIGATION */



 .top-bar {
    background-color: red;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .scrolling-text {
    display: inline-block;
    animation: scroll-text 10s linear infinite;
  }


  @keyframes scroll-text {
    0% {
      transform: translateX(40%);
    }
    100% {
      transform: translateX(-40%);
    }
  }

 
  .nav-bar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }

  .nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
  }





  .nav-bar a:hover {
    text-decoration: underline;
  }

 
  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 30px;
    margin-right: 10px;
  }